header img {
  width: 100%;
}

nav {
  background: lightblue;
}

main {
  background: lightblue;
  height: 100px;
}

footer {
  background: lightblue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.tiny-web-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.config-wrapper {
  max-width: 300px;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.row {
  background: #fff3e2;
  height: 200px;;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}